.add_user{

    position: absolute;
    right: 2rem;
    top: 2rem;
    padding: 1rem;
    border: none;
    color: white;
    background: #4577C1;
    border-radius: 4px;
}

.add_sender{
    border: none;
    background:#4577C1;
    padding: 5px 1rem;
    border-radius: 5px;
    margin: 5rem 1rem;

}
.dash_wrapper{
    margin-left: 25%;
}