.input_signup_section{
    padding: 1rem 0rem;
    input{
    padding: 1.5rem;
    width: 42%;
    margin: 0rem 1rem;
    border-radius: 3px;
    outline: none;
    border: solid 1px #f3f3f3;
    margin-top: 1rem;
    box-shadow: #4577c12b 0px 0px 5px 1px;

    }
}